<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    
  </head>
  <body>

    {{#if errorMessage}}
    <div>{{errorMessage}}</div>
    {{/if}}

      {{#if successMessage}}
      <div>{{successMessage}}</div>
      {{/if}}

    <div class="navbar">
      <a href="/books">All Books</a>
      <a href="/books/create-new-book">Add a New Book</a> 
      <a href="/authors">View Authors</a>

      {{#if theUser.isAdmin}}
      <a href="/create-new-account">Create New User</a>
      <a href="/active-users">See All Users</a>
      {{/if}}

    

    


    {{#if theUser}}
    <form action="/logout" method="POST">
    <button>Logout</button>
    </form>

    {{else}}

      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
    {{/if}}

    </div>


    {{{body}}}




    <script src='/javascripts/script.js'></script>
  </body>
</html>
